@import '../styles/settings/index.scss';

.repo-list {
    display: flex;
    flex-wrap: wrap;
    @include mq-sm {
        margin-right: $spacer * -3;
    }

    &__header {
        border-bottom: 3px solid;
        display: block;
        font-size: 50px;
        font-weight: lighter;
        margin-top: $spacer * 3;
        width: 100%;
        @include mq-sm {
            width: calc(100% - #{$spacer * 3});
        }
    }

    &__language-filter {
        padding: $spacer;
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        margin: $spacer $spacer $spacer 0;
        opacity: 0.8;
        text-transform: lowercase;

        svg {
            margin-left: $spacer;
            opacity: 0.6;
        }

        &--active,
        &:hover {
            opacity: 1;
            padding-bottom: $spacer - $highlight-border-height;

            .repo-list__language-filter-text {
                border-bottom: $highlight-border-height solid;
            }

            svg {
                opacity: 1;
    
                path {
                    stroke: currentColor;
                    stroke-width: 5%;
                }

            }
        }
    }
}
